@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 10%; /* Fondo oscuro */
    --foreground: 210 40% 98%; /* Blanco para el texto principal */
    --card: 0 0% 3.9%; /* Fondo oscuro para las tarjetas */
    --card-foreground: 210 40% 98%; /* Blanco */
    --popover: 220 15% 10%; /* Fondo oscuro para popovers */
    --popover-foreground: 210 40% 98%; /* Blanco */
    --primary: 211 100% 50%; /* Azul brillante */
    --primary-foreground: 210 40% 98%; /* Blanco */
    --secondary: 210 40% 98%; /* Blanco como secundario */
    --secondary-foreground: 220 15% 10%; /* Negro para contraste en el secundario */
    --muted: 220 10% 40%; /* Gris medio para elementos muted */
    --muted-foreground: 220 5% 65%; /* Gris claro para mejor contraste en placeholders */
    --accent: 216 34% 17%; /* Gris medio */
    --accent-foreground: 210 40% 98%; /* Blanco */
    --destructive: 0 62.8% 55%; /* Rojo más claro para validaciones */
    --destructive-foreground: 210 40% 98%; /* Blanco */
    --border: 0, 0%, 14.1%; /* Gris medio */
    --input: 220 10% 40%; /* Gris medio */
    --ring: 212.7 26.8% 83.9%; /* Azul claro para anillos de foco */
    --chart-1: 220 70% 50%; /* Azul brillante */
    --chart-2: 160 60% 45%; /* Verde */
    --chart-3: 30 80% 55%; /* Naranja */
    --chart-4: 280 65% 60%; /* Púrpura */
    --chart-5: 340 75% 55%; /* Rosa */
  }
}
@layer base {
  * {
    box-sizing: border-box;
    min-width: 0;
  }

  body {
    font-optical-sizing: auto;
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
}
